download and import the "heart_attack_clean.csv" dataset. For details about the dataset's variables you could go to this website [heart attack dataset](https://www.kaggle.com/datasets/imnikhilanand/heart-attack-prediction)

In [2]:
import pandas as pd

df = pd.read_csv('C:/Users/skous2/Box/Teaching/Fall 2023/IS 315 - 001/Python Data Analytics Code/data/heart_attack_clean.csv')

Explore the following features of the dataset:
1. Number of rows and columns
2. Number of unique values in each feature
3. The data type of each feature

In [14]:
numrows = df.shape[0]
numcolumns = df.shape[1]

print('number of rows = ' + str(numrows))
print('number of columns = ' + str(numcolumns))

uniquevals = df.nunique()

print('\nThe number of unique values in each feature:')
print(uniquevals)

datatypes = df.dtypes

print('\nThe data types of each feature:')
print(datatypes)

number of rows = 261
number of columns = 11

The number of unique values in each feature:
age            37
sex             2
cp              4
trestbps       30
chol          150
fbs             2
restecg         3
thalach        67
exang           2
oldpeak        10
num             2
dtype: int64

The data types of each feature:
age             int64
sex             int64
cp              int64
trestbps        int64
chol            int64
fbs             int64
restecg         int64
thalach         int64
exang           int64
oldpeak       float64
num             int64
dtype: object

Continue your analysis by calculating the range and middle of each feature and finding the following:
1. Minimum, 25% quantile, median, 75% quantile, max
2. Mean, mode, standard deviation
3. Skewness and kurtosis

In [20]:
simplestats = df.describe()

skewness = df.skew()

kurtosis = df.kurt()

dfmode = df.mode()

print(simplestats)
print(skewness)
print(kurtosis)
print(dfmode)

              age         sex          cp    trestbps        chol         fbs  \
count  261.000000  261.000000  261.000000  261.000000  261.000000  261.000000
mean    47.770115    0.735632    3.003831  132.639847  248.823755    0.072797
std      7.842244    0.441843    0.970718   17.709857   65.667985    0.260302
min     28.000000    0.000000    1.000000   92.000000   85.000000    0.000000
25%     42.000000    0.000000    2.000000  120.000000  208.000000    0.000000
50%     49.000000    1.000000    3.000000  130.000000  242.000000    0.000000
75%     54.000000    1.000000    4.000000  140.000000  280.000000    0.000000
max     65.000000    1.000000    4.000000  200.000000  603.000000    1.000000

          restecg     thalach       exang     oldpeak  num
count  261.000000  261.000000  261.000000  261.000000  261.000000
mean     0.226054  139.226054    0.318008    0.612261    0.375479
std      0.470935   23.757401    0.466597    0.931914    0.485177
min      0.000000   82.000000    0.000000    0.000000    0.000000
25%      0.000000  122.000000    0.000000    0.000000    0.000000
50%      0.000000  140.000000    0.000000    0.000000    0.000000
75%      0.000000  155.000000    1.000000    1.000000    1.000000
max      2.000000  190.000000    1.000000    5.000000    1.000000
age          -0.295159
sex          -1.074823
cp           -0.261933
trestbps      0.747295
chol          1.447011
fbs           3.307711
restecg       1.962358
thalach      -0.126144
exang         0.786107
oldpeak       1.511448
num           0.517266
dtype: float64
age          -0.569402
sex          -0.851337
cp           -1.412857
trestbps      0.817625
chol          5.111942
fbs           9.009936
restecg       3.112579
thalach      -0.611899
exang        -1.392767
oldpeak       2.027892
num          -1.745874
dtype: float64
    age  sex   cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0  54.0  1.0  4.0     120.0   230  0.0      0.0    150.0    0.0      0.0
1   NaN  NaN  NaN       NaN   246  NaN      NaN      NaN    NaN      NaN

   num
0         0.0
1         NaN

- Create a new DataFrame called 'ha_df'

- Add 11 columns in the DataFrame for each of the columns in the original dataset (age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, num)

- Create 13 rows in this DataFrame by adding one row that calculates each of the metrics listed in the above tasks except for the count of columns (count of rows, unique values, data type, min, 25%, median, 75%, max, mean, mode, std dev, skew, kurt) for each of the 11 features. Use the name of the feature as the row index label

In [39]:
ha_df = pd.DataFrame(columns = list(df.columns))

ha_df.loc['count'] = df.count()
ha_df.loc['uniqueVal'] = df.nunique()
ha_df.loc['dataType'] = df.dtypes
ha_df.loc['min'] = df.min()
ha_df.loc['25perc'] = df.quantile(.25)
ha_df.loc['median'] = df.median()
ha_df.loc['75perc'] = df.quantile(.75)
ha_df.loc['max'] = df.max()
ha_df.loc['mean'] = df.mean()
ha_df.loc['mode'] = df.mode().iloc[0]
ha_df.loc['std'] = df.std()
ha_df.loc['skew'] = df.skew()
ha_df.loc['kurt'] = df.kurt()

In [40]:
ha_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
count,261,261,261,261,261,261,261,261,261,261,261
uniqueVal,37,2,4,30,150,2,3,67,2,10,2
dataType,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,int64
min,28.0,0.0,1.0,92.0,85.0,0.0,0.0,82.0,0.0,0.0,0.0
25perc,42.0,0.0,2.0,120.0,208.0,0.0,0.0,122.0,0.0,0.0,0.0
median,49.0,1.0,3.0,130.0,242.0,0.0,0.0,140.0,0.0,0.0,0.0
75perc,54.0,1.0,4.0,140.0,280.0,0.0,0.0,155.0,1.0,1.0,1.0
max,65.0,1.0,4.0,200.0,603.0,1.0,2.0,190.0,1.0,5.0,1.0
mean,47.770115,0.735632,3.003831,132.639847,248.823755,0.072797,0.226054,139.226054,0.318008,0.612261,0.375479
mode,54.0,1.0,4.0,120.0,230.0,0.0,0.0,150.0,0.0,0.0,0.0
std,7.842244,0.441843,0.970718,17.709857,65.667985,0.260302,0.470935,23.757401,0.466597,0.931914,0.485177
skew,-0.295159,-1.074823,-0.261933,0.747295,1.447011,3.307711,1.962358,-0.126144,0.786107,1.511448,0.517266
kurt,-0.569402,-0.851337,-1.412857,0.817625,5.111942,9.009936,3.112579,-0.611899,-1.392767,2.027892,-1.745874

Create an inverted version of the same matrix table you just created:

In [46]:
ha_df_t = ha_df.transpose()

ha_df_t

,count,uniqueVal,dataType,min,25perc,median,75perc,max,mean,mode,std,skew,kurt
age,261,37,int64,28.0,42.0,49.0,54.0,65.0,47.770115,54.0,7.842244,-0.295159,-0.569402
sex,261,2,int64,0.0,0.0,1.0,1.0,1.0,0.735632,1.0,0.441843,-1.074823,-0.851337
cp,261,4,int64,1.0,2.0,3.0,4.0,4.0,3.003831,4.0,0.970718,-0.261933,-1.412857
trestbps,261,30,int64,92.0,120.0,130.0,140.0,200.0,132.639847,120.0,17.709857,0.747295,0.817625
chol,261,150,int64,85.0,208.0,242.0,280.0,603.0,248.823755,230.0,65.667985,1.447011,5.111942
fbs,261,2,int64,0.0,0.0,0.0,0.0,1.0,0.072797,0.0,0.260302,3.307711,9.009936
restecg,261,3,int64,0.0,0.0,0.0,0.0,2.0,0.226054,0.0,0.470935,1.962358,3.112579
thalach,261,67,int64,82.0,122.0,140.0,155.0,190.0,139.226054,150.0,23.757401,-0.126144,-0.611899
exang,261,2,int64,0.0,0.0,0.0,1.0,1.0,0.318008,0.0,0.466597,0.786107,-1.392767
oldpeak,261,10,float64,0.0,0.0,0.0,1.0,5.0,0.612261,0.0,0.931914,1.511448,2.027892
num,261,2,int64,0.0,0.0,0.0,1.0,1.0,0.375479,0.0,0.485177,0.517266,-1.745874

Sort the inverted DataFrame based on the Mean column:

In [47]:
ha_df_t.sort_values('mean')

,count,uniqueVal,dataType,min,25perc,median,75perc,max,mean,mode,std,skew,kurt
fbs,261,2,int64,0.0,0.0,0.0,0.0,1.0,0.072797,0.0,0.260302,3.307711,9.009936
restecg,261,3,int64,0.0,0.0,0.0,0.0,2.0,0.226054,0.0,0.470935,1.962358,3.112579
exang,261,2,int64,0.0,0.0,0.0,1.0,1.0,0.318008,0.0,0.466597,0.786107,-1.392767
num,261,2,int64,0.0,0.0,0.0,1.0,1.0,0.375479,0.0,0.485177,0.517266,-1.745874
oldpeak,261,10,float64,0.0,0.0,0.0,1.0,5.0,0.612261,0.0,0.931914,1.511448,2.027892
sex,261,2,int64,0.0,0.0,1.0,1.0,1.0,0.735632,1.0,0.441843,-1.074823,-0.851337
cp,261,4,int64,1.0,2.0,3.0,4.0,4.0,3.003831,4.0,0.970718,-0.261933,-1.412857
age,261,37,int64,28.0,42.0,49.0,54.0,65.0,47.770115,54.0,7.842244,-0.295159,-0.569402
trestbps,261,30,int64,92.0,120.0,130.0,140.0,200.0,132.639847,120.0,17.709857,0.747295,0.817625
thalach,261,67,int64,82.0,122.0,140.0,155.0,190.0,139.226054,150.0,23.757401,-0.126144,-0.611899
chol,261,150,int64,85.0,208.0,242.0,280.0,603.0,248.823755,230.0,65.667985,1.447011,5.111942

Sort the inverted DataFrame based on the Skew column descending:

In [49]:
ha_df_t.sort_values('skew', ascending=False)

,count,uniqueVal,dataType,min,25perc,median,75perc,max,mean,mode,std,skew,kurt
fbs,261,2,int64,0.0,0.0,0.0,0.0,1.0,0.072797,0.0,0.260302,3.307711,9.009936
restecg,261,3,int64,0.0,0.0,0.0,0.0,2.0,0.226054,0.0,0.470935,1.962358,3.112579
oldpeak,261,10,float64,0.0,0.0,0.0,1.0,5.0,0.612261,0.0,0.931914,1.511448,2.027892
chol,261,150,int64,85.0,208.0,242.0,280.0,603.0,248.823755,230.0,65.667985,1.447011,5.111942
exang,261,2,int64,0.0,0.0,0.0,1.0,1.0,0.318008,0.0,0.466597,0.786107,-1.392767
trestbps,261,30,int64,92.0,120.0,130.0,140.0,200.0,132.639847,120.0,17.709857,0.747295,0.817625
num,261,2,int64,0.0,0.0,0.0,1.0,1.0,0.375479,0.0,0.485177,0.517266,-1.745874
thalach,261,67,int64,82.0,122.0,140.0,155.0,190.0,139.226054,150.0,23.757401,-0.126144,-0.611899
cp,261,4,int64,1.0,2.0,3.0,4.0,4.0,3.003831,4.0,0.970718,-0.261933,-1.412857
age,261,37,int64,28.0,42.0,49.0,54.0,65.0,47.770115,54.0,7.842244,-0.295159,-0.569402
sex,261,2,int64,0.0,0.0,1.0,1.0,1.0,0.735632,1.0,0.441843,-1.074823,-0.851337

Print out any variables that have problems with skewness

In [59]:
list(ha_df_t[abs(ha_df_t['skew']) > 1].index)

['sex', 'chol', 'fbs', 'restecg', 'oldpeak']