Try modifying the t-testcode in the introduction include the feature 'Marital Status' from the original dataset. Create two lists of income for those who are single versus married. Perform a t-test. Is there a difference in income between single versus married customers?

In [1]:
import pandas as pd

df = pd.read_csv('data/bikebuyers.csv')
df.head()

,ID,Marital Status,Gender,MaritalStatusNumeric,GenderNumeric,Income,Children,EducationNumeric,CommuteDistanceNumeric,Cars,Age,HomeOwnerNumeric,PurchaseBikeNumeric,Education,Occupation,Home Owner,Commute Distance,Region,Purchased Bike
0,11000,Married,Male,1,0,90000,2,4,2,0,40,1,1,Bachelors,Professional,Yes,1-2 Miles,Pacific,Yes
1,11047,Married,Female,1,1,30000,3,2,2,2,56,0,1,High School,Skilled Manual,No,1-2 Miles,Pacific,Yes
2,11061,Married,Male,1,0,80000,2,3,4,2,52,1,1,Partial College,Skilled Manual,Yes,5-10 Miles,Pacific,Yes
3,11090,Single,Male,0,0,90000,2,3,3,1,48,1,1,Partial College,Professional,Yes,2-5 Miles,North America,Yes
4,11116,Married,Male,1,0,70000,5,3,4,2,43,1,0,Partial College,Skilled Manual,Yes,5-10 Miles,Pacific,No

In [2]:
married = df[df['Marital Status'] == 'Married']['Income']
single = df[df['Marital Status'] == 'Single']['Income']

In [4]:
from scipy import stats

stats.ttest_ind(married, single, alternative='greater')

Ttest_indResult(statistic=2.5388846033694885, pvalue=0.005635785978412874)

### Part 2

You have been hired as a consultant to analyze NFL plays in order to eventually predict how many yards will be earned by each play. Use the NFL data in the data folder to complete the following tasks.

Import the dataset above into a DataFrame and print the first five records to examine the data. Use pd.set_option('display.max_columns', None) after you import pands in order to view all columns.

In [5]:
nfl = pd.read_csv('data/nfl_plays_2022.csv')

In [6]:
nfl

,GameId,Month,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsInterception,IsFumble,IsPenalty,IsTwoPointConversion,IsTwoPointConversionSuccessful,YardLineFixed,YardLineDirection,IsPenaltyAccepted,IsNoPlay,PenaltyYards
0,2022090800,September,4,9,25,BUF,LA,0,0,85,...,0,0,0,0,0,15,OPP,0,0,0
1,2022090800,September,4,13,27,BUF,LA,0,0,85,...,0,0,0,0,0,15,OPP,0,0,0
2,2022090800,September,3,7,59,BUF,LA,0,0,85,...,0,0,0,0,0,15,OPP,0,0,0
3,2022090800,September,1,9,56,BUF,LA,0,0,85,...,0,0,0,0,0,15,OPP,0,0,0
4,2022090800,September,2,3,0,LA,BUF,0,0,85,...,0,0,0,0,0,15,OPP,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35262,2022121808,December,4,9,58,LV,NE,2,12,35,...,0,1,0,0,0,35,OWN,0,0,0
35263,2022121808,December,3,9,27,LV,NE,2,8,46,...,0,0,0,0,0,46,OWN,0,0,0
35264,2022121808,December,4,13,32,NE,LV,3,7,53,...,0,0,1,0,0,47,OPP,1,0,6
35265,2022121808,December,3,14,17,NE,LV,2,4,42,...,0,0,0,0,0,42,OWN,0,0,0
35266,2022121808,December,4,3,43,NE,LV,0,0,98,...,0,0,0,1,1,2,OPP,0,0,0

Drop all records except those with the formation of 'UNDER CENTER', 'SHOTGUN', 'NO HUDDLE', or 'NO HUDDLE SHOTGUN'.

In [8]:
nfl.Formation.unique()

array(['UNDER CENTER', 'FIELD GOAL', 'SHOTGUN', 'NO HUDDLE',
       'NO HUDDLE SHOTGUN', 'PUNT'], dtype=object)

Calculate the mean Yards for each Formation and add it to a KDE chart to view the differences by Formation

In [9]:
nfl.Yards

0        0
1        0
2        0
3        0
4        0
        ..
35262   -6
35263   -7
35264    6
35265    5
35266    0
Name: Yards, Length: 35267, dtype: int64

Using a t-test, determine whether there is a significant difference in Yards between No Huddle Shotgun and Under Center Formations

Using an ANOVA, determine whether there is a significant difference among all four Formations